In [9]:
import sys
import ast
import pandas as pd

In [15]:
listOfEvents = []
input_file = "out2.txt"
with open(input_file,"r") as f:
    for line in f:
        listOfEvents.append(ast.literal_eval(line))
listOfEvents
df = pd.DataFrame.from_dict(listOfEvents)
df["ReadAddr"]=""
df["WriteAddr"]=""

In [16]:
#df.to_csv(input_file.split('.')[0]+".csv")
df

,starttime,address,size,type,cudatime,cudatimeoverlap,id,ReadAddr,WriteAddr
0,303,0x44278040,8,allocate,,,0,,
1,35253,0x44291000,8,allocate,,,1,,
2,35388,0x44291c40,400000,allocate,,,2,,
3,35396,0x442f3880,8,allocate,,,3,,
4,35399,0x442f3880,-8,allocate,,,4,,
...,...,...,...,...,...,...,...,...,...
130,1075819,,,kernel-void cudnn::ops::nhwcToNchwKernel<float...,280,99,130,,
131,1075890,0x7efecf103200,512,allocate,,,131,,
132,1075914,,,kernel-void at::native::reduce_kernel<512; 1; ...,280,99,132,,
133,1075919,0x7efed02f3e00,-602112,allocate,,,133,,
134,1076971,,,kernel-void at::native::(anonymous namespace):...,26,26,134,,

In [ ]:
input_file = "mem_trace_multilayer.txt"
with open(input_file,"r") as f:
    for line in f:
        if "Read" in line:
            data = line.split(":")[1]
            data = data.split(",")